	
<!-- This is the main introduction page / view and has in it the image in a container to control the size and the button to take you to the all stories view -->

	<div class="imgbox">
	<img class="nomap" src="No map.jpg">
	<p></p>
	<button class="allStoriesButton" ng-click="setComplete()">Click Here for Story Samples</button>
	</div>

	<!-- This is the text for the main instructions / description of elements -->

	<div class="introduction">
	
	<p>No story is complete without the 5 key plot elements listed above.  We will examine each one in simple terms and then give you an opportunity to examine one in detail. Don't forget to take the test after looking at some examples. You can also submit one of your own but make sure you are matching sentences with the correct element as you enter it.</p>
	<p></p>
	<p>Let's take a look at each element or part of the story (plot).</p><p>Exposition is simply the beginning of the story - what action was taken to start a series of actions. Let me add here that many believe that this would include the set up of a story or the elements of character and setting are these are very important components of a story but we are talking about more of the plot movement or in other words - the actions that take place moving a character to a point of change and returning that character as having changed a thought, a behavior, or merely an action.</p>
	<p></p>
	<p></p>
	
